@media (min-width:1216px){.main[data-v-07de0573]{max-width:1160px;width:860px}}@media (min-width:960px){.mian[data-v-07de0573]{max-width:860px;width:740px}}.main[data-v-07de0573]{margin:0 auto;position:relative;padding:0 7% 0 7%}.titel[data-v-07de0573]{text-align:center;padding:20px 0 25px 0}